.zambezi-grid-cell.is-selected {
  background-color: yellow;
}

.zambezi-grid-cell.is-active {
  border: 2px dotted rgba(255, 0, 255, 0.4);
}

.zambezi-grid:focus .zambezi-grid-cell.is-active {
  border: 2px dotted magenta;
}

.zambezi-grid-cell.is-active.editable-cell:hover {
  border: 2px dotted green;
}
