.zambezi-grid-row.is-crosshairs-over {
  background-color: #dff;
}

.zambezi-grid-cell.is-crosshairs-over {
  background-color: #dff;
}

.zambezi-grid-row.is-crosshairs-over .zambezi-grid-cell.is-crosshairs-over {
  background-color: fuchsia;
  color: white;
}
